html,
body {
  margin: 0;
  border: 0;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

.homeNav {
  display: flex;
  background-color: sandybrown;
  margin: 0;
  border: 0;
  width: 100%;
  justify-content: space-evenly;
  padding: 6px;
}

.homeNav button {
  height: 40px;
  margin-top: 7px;
  width: 60px;
}

.homeDiv {
  display: flex;
  justify-content: space-around;
}

.signInPageDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.formDiv {
  display: flex;
  flex-direction: column;
}

.formInput {
  width: 98%;
  margin-bottom: 17px;
}

.errorMessage {
  color: red;
  margin: 0;
}

.postsUL {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  margin-left: 0;
}

.postsLi {
  color: red;
}

.myPosts {
  display: flex;
  justify-content: space-between;
}

.myPosts span {
  cursor: pointer;
  transform: translateY(16px);
}
